<%- include header.ejs %>

  <div class="main">
    <h2>Album: <%= album.title %></h2>
    <p>by <%= album.artist %></p>
    <h2>Reviews <span class="offer"><a href="/albums/<%= album.id %>/reviews/new">Add review</a></span></h2>
    <div class="review-list">
      <% reviewViews.forEach(function(reviewView) { %>
        <div>
          <p class="detail minor"><%= reviewView.submission_date %></p>
          <p class="detail">“<%= reviewView.review %>”</p>
          <p class="detail offset">by <a href="/users/<%= reviewView.author_id %>"><%= reviewView.author_name %></a></p>
        </div>
      <% }) %>
    </div>
  </div>

</body>
</html>
