<%- include header.ejs %>

  <h2>Album: <%= album.title %></h2>
  <p><em>by <%= album.artist %></em></p>

  <h2>Reviews</h2>

  <div class="review-list">
    <% reviewViews.forEach(function(reviewView) { %>
      <div>
        <p><%= reviewView.submission_date %></p>
        <p><%= reviewView.review %></p>
        <p>by <%= reviewView.author %></p>
      </div>
    <% }) %>
  </div>

</body>
</html>
