<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <section id="banner">
    <span class="bannertitle">Vinyl</span>
    <span class="nav"><a href="<%= locals.navRef || '/' %>"><%= locals.navTarget || 'Home' %></a></span>
    <span class="nav session <%= statusLinks[1][0] %>"><a href="<%= statusLinks[1][2] %>"><%= statusLinks[1][1] %></a></span>
    <span class="nav session <%= statusLinks[0][0] %>"><a href="<%= statusLinks[0][2] %>"><%= statusLinks[0][1] %></a></span>
  </section>

  <% if (locals.confirmInvitation) { %>
    <section class="alert <%= confirmClass %>">
      <h5 class="compact"><%= confirmInvitation %></h5>
      <p class="detail"><button type="button"><a href="<%= confirmLinks[0][0] %>"><%= confirmLinks[0][1] %></a></button> <button type="button"><a href="<%= confirmLinks[1][0] %>"><%= confirmLinks[1][1] %></a></button></p>
    </section>
  <% } %>
