<%- include header.ejs %>

  <div class="main">
    <section class="left">
      <h2>Records</h2>
      <div class="album-list">
        <% albums.forEach(function(album) { %>
          <div>
            <h5><a href="/albums/<%= album.id %>"><%= album.title %></a></h5>
            <p><%= album.artist %></p>
          </div>
        <% }) %>
      </div>
    </section>
    <section class="right">
      <h2>Recent Reviews</h2>
      <div class="review-list">
        <% reviewViews.forEach(function(reviewView) { %>
          <div>
            <h5><a href="/albums/<%= reviewView.album_id %>"><%= reviewView.album_title %></a></h5>
            <p><%= reviewView.submission_date %></p>
            <p><%= reviewView.review %></p>
            <p>by <a href="/users/<%= reviewView.author_id %>"><%= reviewView.author_name %></a></p>
          </div>
        <% }) %>
      </div>
    </section>
  </div>

</body>
</html>
