<%- include header.ejs %>

  <h2>Records</h2>

  <div class="album-list">
    <% albums.forEach(function(album) { %>
      <div>
        <h5><a href="/albums/<%= album.id %>"><%= album.title %></a></h5>
        <p><%= album.artist %></p>
      </div>
    <% }) %>
  </div>

  <h2>Recent Reviews</h2>

  <div class="review-list">
    <% reviewViews.forEach(function(reviewView) { %>
      <div>
        <h5><%= reviewView.album %></h5>
        <p><%= reviewView.submission_date %></p>
        <p><%= reviewView.review %></p>
        <p>by <%= reviewView.author %></p>
      </div>
    <% }) %>
  </div>

</body>
</html>
