<%- include header.ejs %>

  <h2>Profile: <%= user.name %></h2>
  <p>Email: <%= user.email %></p>
  <p>Date joined: <%= user.join_date %></p>

  <h2>Reviews</h2>

  <div class="review-list">
    <% reviewViews.forEach(function(reviewView) { %>
      <div class="<%= reviewView.id === target ? 'doomed' : 'normal' %>">
        <h5><%= reviewView.album %></h5>
        <p><%= reviewView.submission_date %></p>
        <p><%= reviewView.review %></p>
        <p class="<%= reviewDeleteToolClass %>"><button type="button"><a href="/reviews/<%= reviewView.id %>/delete/confirm">🗑</a></button></p>
    </div>
    <% }) %>
  </div>

</body>
</html>
