<%- include header.ejs %>

  <div class="main">
    <h2>Profile: <%= user.name %></h2>
    <p class="detail">Email: <a href="mailto:<%= user.email %>"><%= user.email %></a></p>
    <p class="detail">Date joined: <%= user.join_date %></p>

    <h2 class="superhead">Reviews</h2>

    <div class="review-list">
      <%
        reviewViews.forEach(function(reviewView) {
          const reviewClass = reviewView.id === target ? 'doomed' : 'normal'
      %>
          <div class="<%= reviewClass %>">
            <h5><%= reviewView.album %></h5>
            <p class="detail minor"><%= reviewView.submission_date %></p>
            <p class="detail"><%= reviewView.review %></p>
            <p class="whiteback detail <%= reviewDeleteToolClass %>"><button type="button"><a href="/reviews/<%= reviewView.id %>/delete">🗑</a></button></p>
          </div>
      <% }) %>
    </div>
  </div>

</body>
</html>
